.tooltip {
  width: 200px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f1f1f1;
  position: absolute;
  left: calc(50% - 100px);
  bottom: -36px;
}

.triangle {
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #f1f1f1;
  position: absolute;
  left: calc(50% - 10px);
  top: -10px;
}
